@import "@/styles/variables";

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint_desktop_max) {
    align-items: start;
  }
}

.thumbnail {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 76vh;
  max-height: 780px;
  width: auto;
  z-index: 2;

  @media (max-width: $breakpoint_large_desktop_max) {
    height: 68vh;
    max-height: 680px;
  }

  @media (max-width: $breakpoint_desktop_max) {
    height: auto;
    width: 100%;
    overflow: hidden;
  }

  & > img {
    height: 100%;
    width: 100%;
    filter: drop-shadow(30px 20px 240px var(--highlight-color));
    transition: filter 0.8s;

    @media (max-width: $breakpoint_tablet_max) {
      filter: unset;
    }
  }
}

.content {
  z-index: 3;

  @media (max-width: $breakpoint_desktop_max) {
    margin-top: 20vh;
  }
}

.highlight {
  color: var(--highlight-color);
  margin-left: 4px;
}

.h1 {
  margin: 16px 0;
  font-size: 4rem;

  @media (max-width: $breakpoint_mobile_max) {
    font-size: 3rem;
  }
}

.h2 {
  margin: 8px 0;
  font-size: 2.8rem;

  @media (max-width: $breakpoint_mobile_max) {
    font-size: 2.2rem;
  }

  @media (max-width: $breakpoint_mobile_min) {
    font-size: 1.6rem;
  }
}

.h4 {
  margin: 4px 0 4px 2px;
  font-size: 1.8rem;

  @media (max-width: $breakpoint_mobile_max) {
    font-size: 1.4rem;
  }
}

.button {
  margin-top: 40px;
}
