$breakpoint_mobile_min: 375px;
$breakpoint_mobile_max: 576px;
$breakpoint_tablet_max: 768px;
$breakpoint_large_table_max: 992px;
$breakpoint_desktop_max: 1024px;
$breakpoint_ultra_tablet_max: 1152px;
$breakpoint_large_desktop_max: 1280px;
$breakpoint_ultra_desktop_max: 1440px;
$breakpoint_extra_large_desktop_max: 1650px;
$breakpoint_mega_desktop_max: 1920px;
