@import "@/styles/variables";

.card {
  position: relative;
  height: 300px;
  width: 100%;

  @media (max-width: $breakpoint_mobile_max) {
    height: 56vw;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: calc(50% + 30px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $breakpoint_mobile_max) {
    width: 100%;
    flex-direction: row;
  }
}

.title {
  & > h4 {
    color: var(--highlight-color);
    margin: 0;
  }

  & > h2 {
    color: var(--text-color);
    margin: 10px 0;
  }
}

.description {
  padding: 24px;
  border-radius: 14px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  background: lightgray 0% 0% / 154.22531366348267px 154.22531366348267px repeat,
    radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(118, 60, 172, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    );

  background-blend-mode: overlay, normal;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 8px;
    background: var(--highlight-color);
    top: 0;
    left: 0;
  }

  @media (max-width: $breakpoint_mobile_max) {
    display: none;
  }
}

.link {
  display: flex;
  gap: 24px;

  @media (max-width: $breakpoint_mobile_max) {
    gap: 16px;
    margin-top: 16px;
  }

  & > svg {
    fill: var(--highlight-color);
    width: 24px;
    height: 24px;

    @media (max-width: $breakpoint_mobile_max) {
      width: 20px;
      height: 20px;
    }
  }
}

.content_reverse {
  left: unset;
  right: 0;

  @media (max-width: $breakpoint_mobile_max) {
    flex-direction: row-reverse;
  }

  & > .title > * {
    text-align: right;
  }

  & > .description {
    &::before {
      right: 0;
      left: unset;
    }
  }

  & > .link {
    justify-content: flex-end;
  }
}

.image {
  position: absolute;
  height: calc(100% - 18px);
  width: 50%;
  right: 0;
  top: 0;
  background: var(--highlight-color);
  padding: 18px 0 0 32px;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  @media (max-width: $breakpoint_mobile_max) {
    width: calc(100% - 32px);
    top: 68px;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 80%;
    height: 160%;
    top: -30%;
    left: -20%;
    border-radius: 45rem;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #763cac 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }
}

.image_reverse {
  right: unset;
  left: 0;
  padding: 20px 30px 0 0;

  & > img {
    border-top-left-radius: unset;
    border-top-right-radius: 10px;
  }

  &::before {
    left: unset;
    right: -20%;

    @media (max-width: $breakpoint_mobile_max) {
      right: 0;
    }
  }
}
